// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#add-band {
    display: flex;
    justify-content: center;
}

#band-list {
    font-family: monaco,Consolas, Lucida Console, monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
}