<h1>ALL DEM BANDS</h1>
<button id="add-band" href="<%=new_band_url%>">Add a Band!</button><br>
<body>
        <% @bands.each do |band| %> <br>
        <a id="band-list" href="<%=band_url(band)%>"><%=band.name%></a>
        <% end %>
</body>